body {
  background: #f9f7fd;
}

.Weather {
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.Weather header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 15px 0;
}

.Weather h1 {
  font-size: 38px;
  color: black;
}

.Weather form {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px 20px;
  font-size: 16px;
}

.submit {
  background: #885df1;
  padding: 11px 20px;
  border: none;
  font-size: 16px;
  margin-left: -10px;
}

.submit:hover {
  background-color: #885df1;
  color: white;
}

.Weather h1 {
  font-weight: bold;
  font-size: 50px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  color: #a8a6b4;
}

.Weather .date-description {
  color: #a8a6b4;
}

.Weather img {
  float: left;
  position: relative;
  top: -10px;
}

.weather-app-data {
  display: flex;
}

.Weather .main-temperature {
  font-weight: bold;
  font-size: 75px;
  line-height: 75px;
  color: black;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -20px;
  line-height: 1;
  color: black;
  margin-left: 5px;
}

.Main-Weather-Data {
  display: flex;
  justify-content: center;
}
.Weather .weather-details {
  color: #2fa8f9;
}

.Weather footer {
  border-bottom: 1px solid #f9f7fe;
}

.list-sortation {
  display: flex;
  justify-content: space-evenly;
}

.UnitConversion {
  display: flex;
  align-items: center;
}

footer a {
  color: #885df1;
}

@media (max-width: 960px) {
}
