.WeatherForecast {
  text-align: center;
}
.WeatherForecast-day {
  color: #a4a4aa;
}

.WeatherForecast-temperatures {
  color: #ff49ad;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
  margin-right: 6px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 6px;
}
